/******** 00 Normalize CSS *********/
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.clearfix {
  clear: both;
}

section {
  padding: 70px 0;
}

h2 {
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
}
/******** 01 Header *********/
#header {
  position: fixed;
  background-color: #222;
  width: 100%;
  z-index: 100;
}

#logo {
  float: left;
}

#menu-button {
  float: right;
  font-size: 25px;
  line-height: 40px;
  color: #fff;
  background: transparent;
  padding: 0 0 0 15px;
  border: 0;
}

#menu-button-checkbox {
  display: none;
}

#menu-button-checkbox:checked ~ .nav-bar{
  display: block;
}

.nav-bar {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #222;
}

.nav-bar li {
  display: block;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #333;
}

.nav-bar li a {
  text-transform: capitalize;
  color: #fff;
  text-transform: capitalize;
}

/********* 02 Home Background **********/
#home-bg {
  width: 100%;
  height: 100%;
  background-image: url(../images/profile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.flex-container h2 {
  font-size: 40px;
  margin-bottom: 1em;
  color: #fff;
  text-transform: capitalize;
}

.flex-container .social-icons a {
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
}

/********** 03 About Me **********/
.about-info {
  margin: 16px 0;
}
.about-info .text h6 {
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #222;
  line-height: 32px;
}

.about-info .text p {
  line-height: 25px;
  color: #767676;
  margin-bottom: 30px;
  text-align: justify;
}

.about-info .skills {
  margin-bottom: 30px;
}

.about-info .skills p {
  padding: 5px 0;
  text-transform: capitalize;
  font-weight: 600;
}

.about-info .buttons a {
  display: block;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  color: black;
  text-transform: capitalize;
}

.about-info .buttons a:hover {
  transition: all linear .4s;
  color: #fff;
  background-color: #000;
  
}

/********** 04 Service ***********/
#service {
  background-color: #f9f9f9;
}

.service-item {
  margin-bottom: 15px;
}

.service-item i {
  font-size: 30px;
  line-height: 46px;
}

.service-item h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.service-item p {
  color: #767676;
  line-height: 25px;
}

/*********** 05 Resume **********/
#resume h3 {
  text-transform: capitalize;
  font-size: 1.5em;
}

.year {
  display: inline-block;
  color: #fff;
  background-color: #000;
  padding: 5px 15px;
  margin: 10px 0;
}

.title h4 {
  font-size: 1.2em;
  line-height: 1.7em;
}

.title h6 {
  font-size: 0.9em;
  line-height: 1.8em;
}

.detail {
  margin: 10px 0;
  line-height: 1.5em;
  font-weight: 600;
}

.education {
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
}

/********* 06 Quote *********/
#quote {
  width: 100%;
  position: relative;
  background-image: url(../images/abg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#quote h3 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

#quote p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

#quote a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  width: 50%;
  padding: 8px 0;
  border: 1px solid #fff;
  border-radius: 8px;
}

#quote a:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid black;
  transition: all linear .4s;
}
/******** 07 Portfolio *********/
#portfolio {
background-color: #f9f9f9;
}

.work-items {
  display: flex;
  flex-flow: column wrap;
}

.work {
  margin-bottom: 10px;
}

/********* 08 Contact **********/
.contact-form {
  width: 90%;
  margin: 0 auto;
}

.form-input {
  width: 100%;
}

.form-input:first-child input, .form-input:nth-child(2) input, .form-input textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  margin-bottom: 15px;
  text-transform: capitalize;
  outline: none;
}

.form-submit input {
  background-color: #fff;
  padding: 15px 40px;
  border: 1px solid #333;
  border-radius: 8px;
  text-transform: capitalize;
}

.form-submit input:hover {
  color: #fff;
  background-color: #000;
  transition: all linear .4s;
}

/*********** 09 Footer *********/
footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

/*********** >768px **********/
@media screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    margin-bottom: 75px;
  }

  section {
    padding: 100px 0;
  }

  .container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }
  /***** 01 Header *****/
  #menu-button {
    display: none;
  }

  .nav-bar {
    position: static;
    display: block;
    float: right;
    width: auto;
  }
  
  .nav-bar li {
    display: inline-block;
    padding: 9px 15px;
  }

  /***** 02 Home Background ******/
  #home-bg .flex-container h2 {
    font-size: 54px;
  }

  #home-bg .flex-container .social-icons a {
    font-size: 19px;
  }

  /****** 03 About Me *****/
  .avatar, .about-info {
    float: left;
    width: 50%;
    padding: 0 15px;
  }

  .about-info {
    margin: 0;
  }

  .about-info .text h6 {
    font-size: 18px;
    line-height: 36px;
  }

  .about-info .text p {
    font-size: 16px;
  }

  .about-info .skills {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .about-info .buttons a {
    width: auto;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
  }

  /****** 04 Service ******/
  .service-item {
    width: 33.33%;
    float: left;
    padding: 0 10px;
  }

  /******* 05 Resume *******/
  #resume h3 {
    padding-left: 10px;
  }

  .education {
    margin-bottom: 20px;
  }
  .education, .experience {
    display: flex;
    flex-flow: row wrap;
  }

  .education-item, .experience-item {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  /****** 06 Quote ******/
  #quote a {
    width: 15%;
    padding: 10px 0;
  }

  /****** 07 Protfolio *******/
  .work-items {
    flex-flow: row wrap;
  }

  .work {
    width: 33.33%;
    padding: 0 10px;
  }

  /****** 08 Contact *******/
  .contact-form {
    width: 50%;
  }

  .contact-form .form-input:first-child, .contact-form .form-input:nth-child(2) {
    float: left;
    width: 50%;
  }

  .contact-form .form-input:first-child {
    padding-right: 10px;
  }
}